*{
    font-family: 'Inter'; 
}

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    background: #EAFFE5;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title-container {
    color: #222E22;
    margin-top: 1.5rem;
    font-size: 2rem;
}

.header-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 0.25rem;
    margin-bottom: 1.5rem;
}

.header-button-container button{
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: auto;
    padding: 0.8rem 1.2rem;
    font-size: 1.5rem;
    cursor:pointer;
    text-align: center;
    font-weight: bold;
}


.header-button-container button:hover {
    background-color: #425642;
    color: #EAFFE5;
}

.button-1-container {
    
    background: #425642;
    border-radius: 0.5rem;
    color: #EAFFE5;
    border: 0.0625rem solid #425642;
}

.button-2-container {
    border: 0.0625rem solid #425642;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #425642;
    font-weight: 500;
    font-style: normal;
}

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../figmastyle/headerfigma.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    
}

.section-one-container{
    margin-top: 5rem;
    margin-bottom:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-one-text {
    object-fit: cover;
    margin: 0;
}

.section-one-container h2{
   font-size: 2.25rem;
   text-align: center;
   color: #EAFFE5;
}


.section-one-container button{
    border: 0.0625rem solid #EAFFE5;
    border-radius: 0.5rem;
    background: transparent;
    color: #EAFFE5;
    font-size: 1.5rem;
    line-height: 1.2rem;
    padding: 0.8rem 1.2rem;
    width: 12rem;
    height: 4rem;
}

.section-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.main-image-container {

    display: flex;
    flex-direction: column;
    align-content: center;
   
    
}

.main-image-container img {
    width: 24rem;
    height: 12rem;
    border-radius: 12px;
    max-width: 24rem;
}

.main-image-container p {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #222E22;
    text-align: center;
    font-weight: bold;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #BACDB5;
}

.footer-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
}

.footer-container button {
    border: 0.0625rem solid #425642;
    border-radius: 0.5rem;
    background: transparent;
    padding: 0.6rem 1.8rem;
    font-size: 1.2rem;
    
}

.footer-container button:hover{
    background-color: #425642;
}